* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #F0E8C0
}
nav ul li {
  width: 40%;
  padding: 3%;
  margin: 1%;
  border-radius: 10px;
  text-align: center;
  list-style-type: none;
  background-color: #F0E8C0
}
div img {
  width: 70px;
  margin: 15%;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #57DDDC
}
nav ul {
  width: 30%;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  margin: 15px;
}
nav ul li a {
  text-decoration: none;
}
